@import 'tailwindcss';

@theme inline {
	--main-color: #301f64;
	--second-color: #ffffff;
	--third-color: #dca9f2;
	--dark-color: #242325;
}

@theme {
	--breakpoint-2xs: 20rem;
	--breakpoint-xs: 23rem;
}

.text-gradient {
	@apply text-center uppercase bg-linear-65 from-purple-400 to-pink-200 bg-clip-text [-webkit-background-clip:text] text-transparent text-4xl md:text-5xl;
}

.button-base {
	@apply text-[var(--second-color)] border px-3 py-1 rounded-sm hover:text-[var(--main-color)] hover:bg-[var(--second-color)] transition-colors cursor-pointer;
}

.menu-line {
	@apply block h-[2px] w-[25px] md:w-[35px] bg-[var(--second-color)] rounded-full;
}

.social-media-icon {
	@apply h-18 w-18 md:h-20 md:w-20 text-[var(--third-color)] hover:scale-110 transition-transform;
}

.notes-icon {
	@apply w-6 h-6 md:w-7 md:h-7 text-[var(--third-color)] transition-transform hover:scale-120;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
